.height{
    min-height: 89.8vh;
}

.padding{
    padding-top: 7rem;
}

.paddingEmptyCart{
    padding-top: 10rem;
}

.cover{
    width: 7rem;
    height: 10rem;
}

.emptyCart{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}